/*Media Query Start*/
@media only screen and (min-width: 1366px) and (max-width: 1500px) {
  .nav ul li {
    padding: 0;
}
a.login-icon {
  width: 53px;
  height: 53px;
}
.hour-right-box {
  padding: 60px 60px;
}
img.barber-img {
  height: 500px;
}
.barber-card-text {
  bottom: -91px;
}
.quicklinks-ft ul li {
  margin-bottom: 2px;
}
.heading-footer .f22 {
  margin: 0 0 20px 0;
}
.footer_form form input {
  padding: 10px;
}
.footer_form form button {
  padding: 0 17px;
}
.testi-slider-box {
  margin: 0;
  width: 100%;
}
.testi-img img {
  height: 330px;
}
.testi-slider button.slick-next.slick-arrow {
  right: -29%;
}
.testi-slider button.slick-prev.slick-arrow {
  left: -29%;
}
.test-box-extra {
  border-radius: 0 !important;
  left: -153px;
}
section.banner_sec {
  height: 750px;
}
.footer_col p {
  margin: 0 0 35px 0;
}
section.banner_sec.inner-banner {
  height: 450px;
}


.contact-info {
  padding: 20px 10px;
}

.contact_text p a {
  font-size: 14px;
}

input.form-control {
  margin: 10px 0 !important;
}
}
@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .contact-info {
    padding: 20px 10px;
}

.contact_text p a {
    font-size: 14px;
}

input.form-control {
    margin: 10px 0 !important;
}
.footer_col p {
    margin: 0 0 35px 0;
}
  .nav ul li {
    padding: 0;
}
.hdr_btn .theme-btn {
  padding: 14px 23px;
}
a.login-icon {
  width: 53px;
  height: 53px;
}
.about_text {
  padding: 50px 0;
}
.hour-right-box {
  padding: 60px 60px;
}
img.barber-img {
  height: 500px;
}
.barber-card-text {
  bottom: -91px;
}
.quicklinks-ft ul li {
  margin-bottom: 2px;
}
.heading-footer .f22 {
  margin: 0 0 20px 0;
}
.footer_form form input {
  padding: 10px;
}
.footer_form form button {
  padding: 0 17px;
}
.testi-slider-box {
  margin: 0;
  width: 100%;
}
.testi-img img {
  height: 330px;
}
.testi-slider button.slick-next.slick-arrow {
  right: -29%;
}
.testi-slider button.slick-prev.slick-arrow {
  left: -29%;
}
.test-box-extra {
  border-radius: 0 !important;
  left: -153px;
}
section.banner_sec {
  height: 750px;
}
section.banner_sec.inner-banner {
  height: 450px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h4 {
    font-size: 25px;
  }
  h2 {
    font-size: 47px;
  }
  .hdr_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .banner_sec {
    height: 700px;
  }
  .categ-card {
    padding: 30px 10px;
    margin: 10px 0;
  }
  .about_text {
    padding: 0;
  }
  .about-image-inner {
    width: 50%;
  }
  .hour-right-box {
    padding: 20px 20px;
  }
  ul.hour-list li {
    margin: 5px 0;
    padding: 5px 10px;
  }
  .hour-card-text h3 {
    font-size: 25px;
  }
  a.play-pause {
    width: 80px;
    height: 80px;
  }
  img.barber-img {
    height: 400px;
  }
  .barber-card-text {
    padding: 20px 10px;
    bottom: -65px;
  }
  ul.barber-list li a {
    width: 45px;
    height: 45px;
}

ul.barber-list li a i {
    font-size: 15px;
}
 .sec {
  padding: 50px 0;
}
img.gallery-img {
  height: 520px;
}
.gallery-mid-box img.gallery-img {
  height: 250px;
}
.scissor-design {
  width: 6%;
}
.price-card-price h5 {
  width: max-content;
}
.test-box-text {
  padding: 10px 10px 10px 60px;
}
.testi-slider-box {
  margin: 0;
  width: 100%;
}
.testi-img img {
  height: 280px;
}
.test-box-extra {
  left: -128px;
  padding: 7px 12px;
}

  .pg-ft-links-main {
    margin-left: 0;
  }
  .quicklinks-ft {
    margin-left: 0;
  }
  .heading-footer .f22 {
    margin: 30px 0 10px 0;
    width: fit-content;
  }

  .footer_col p {
    margin: 0 0 10px 0;
  }

  .heading-footer .f22:before {
    bottom: 0px;
    width: 100%;
  }

  .quicklinks-ft ul li {
    margin-bottom: 2px;
  }
  .freeshiping-text {
    margin-top: 0;
  }
  .footer_form form input {
    padding: 10px;
}
.price-card {
  padding: 30px 0;
  align-items: start;
}

.categ-card-text p {
  font-size: 14px;
  line-height: 1.5;
}

.categ-card-text {
  margin: 0px 0 0 0;
}
.footer_form form button {
  padding: 0 10px;
}
.testi-slider button.slick-next.slick-arrow {
  right: -28%;
}
.testi-slider button.slick-prev.slick-arrow {
  left: -28%;
}
.gallery-text {
  flex-wrap: wrap;
  padding: 6px !important;
}
.nav ul li {
  padding: 0;
}
.nav ul li a {
  font-size: 13px;
}
.hamburger-menu {
  display: none;
}
.hdr_btn .theme-btn {
  padding: 14px 23px;
}
a.login-icon {
  width: 53px;
  height: 53px;
}
section.banner_sec.inner-banner {
  height: 400px;
}
.service-category-box {
  padding: 10px;
}

.how-can-we-help-box {
  padding: 10px;
}
.contact-info {
  padding: 20px 10px;
}

.cicle-icon i {
  width: 50px;
  height: 50px;
  font-size: 18px;
}

.contact_text p a {
  font-size: 14px;
}

input.form-control {
  margin: 10px 0 !important;
}


.login-txt {
  padding: 20px 10px;
  margin: 20px 0;
}

.login-txt ul {
  flex-wrap: wrap;
  gap: 10px;
}

.login-txt h3 {
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {

  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 23px;
  }
  h6 {
    font-size: 17px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }

  .hdr_btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    flex-direction: row-reverse;
  }
  .md-none {
    display: none;
  }
  .banner_sec {
    height: 650px;
  }
  .categ-card {
    padding: 30px 10px;
    margin: 10px 0;
  }
  .about_text {
    padding: 0;
  }
  .about-image-inner {
    width: 50%;
  }
  .hour-right-box {
    padding: 20px 20px;
  }
  ul.hour-list li {
    margin: 5px 0;
    padding: 5px 10px;
  }
  .hour-card-text h3 {
    font-size: 25px;
  }
  a.play-pause {
    width: 80px;
    height: 80px;
  }
  img.barber-img {
    height: 400px;
  }
  .barber-card-text {
    padding: 20px 10px;
    bottom: -65px;
  }
  ul.barber-list li a {
    width: 45px;
    height: 45px;
}

ul.barber-list li a i {
    font-size: 15px;
}
 .sec {
  padding: 50px 0;
}
img.gallery-img {
  height: 520px;
}
.gallery-mid-box img.gallery-img {
  height: 250px;
}
.scissor-design {
  width: 6%;
}
.price-card-price h5 {
  width: max-content;
}
.test-box-text {
  padding: 10px 10px 10px 50px;

}
.testi-slider-box {
  margin: 0;
  width: 100%;
}
.testi-img img {
  height: 280px;
}
.test-box-extra {
  left: -119px;
  padding: 7px 12px;
}

  .pg-ft-links-main {
    margin-left: 0;
  }
  .quicklinks-ft {
    margin-left: 0;
  }
  .heading-footer .f22 {
    margin: 30px 0 10px 0;
    width: fit-content;
  }

  .footer_col p {
    margin: 0 0 10px 0;
  }

  .heading-footer .f22:before {
    bottom: 0px;
    width: 100%;
  }

  .quicklinks-ft ul li {
    margin-bottom: 2px;
  }
  .freeshiping-text {
    margin-top: 0;
  }
  .footer_form form input {
    padding: 10px 10px 10px 25px;
}
.price-card {
  padding: 30px 0;
  align-items: start;
}
.hamburger-navigation .nav-menu li a {
  font-size: 20px;
}
.gallery-text {
  flex-wrap: wrap;
  padding: 6px !important;
}
.testi-slider button.slick-next.slick-arrow {
  right: -28%;
}
.testi-slider button.slick-prev.slick-arrow {
  left: -28%;
}
section.banner_sec.inner-banner {
  height: 400px;
}
section.inner-services-sec .col-lg-9.col-md-12.col-12.md-order-2 {
  order: 1;

}

.col-lg-3.col-md-12.col-12.md-order-1{
  display: flex !important;
  justify-content: space-between;
  margin: 0 0 30px 0;
}
.service-category-box {
  width:48%;
}
.how-can-we-help-box {
  width: 48%;
  margin: 0;
}
.contact-main-sec h4 {
  margin: 30px 0 0 0;
  text-align: center;
}

.contact-info {
  width: 60%;
  margin: 10px auto;
}
.login-txt {
  margin: 10px 0;
}
.sb-body {
  display: flex;
  gap: 0;
  padding: 30px;
  align-items: center;
  flex-direction: column-reverse;
  gap: 20px;
}
}
@media only screen and (min-width: 520px) and (max-width: 767px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 38px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 30px;
  }
  h6 {
    font-size: 17px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
  section.header .nav.stroke {
    display: none;
  }
  .hdr_logo a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hdr_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0;
  }
  header.sticky {
    position: unset;
  }
  .hamburger-menu {
    width: auto;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 9999999999;
  }
  header .nav.stroke {
    display: none;
  }
  .hdr_logo a {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .hamburger-navigation .nav-menu {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  header {
    position: unset;
    background-color: #03080c;
  }
  section.banner_sec {
    height: 500px;
  }
  .banner_text {
    gap: 10px;
    text-align: center;
  }
  .theme-btn {
    padding: 12px 40px;
  }
  a.login-icon {
    width: 50px;
    height: 49px;
  }
  .categ-card {
    padding: 40px 10px;
    margin: 10px 0;
  }
  .about-image {
    position: relative;
    z-index: 999;
    transform: unset;
    width: 100%;
    flex-direction: column;
    top: 0;
    height: auto;
    gap: 20px;
  }
  .about-image-inner {
    width: 100%;
  }
  .about_text {
    padding: 30px 0;
  }
  .hour-card-text {
    position: unset;
    transform: unset;
  }
  .hour-card-text h3 {
    color: #000;
    margin: 20px 0;
  }

  .hour-card {
    height: auto;
  }

  .hour-right-box {
    padding: 20px 10px;
  }
  section.hour-sec {
    background: #fff;
  }
  video.hour-video {
    height: 450px;
  }
  a.play-pause {
    width: 70px;
    height: 70px;
  }
  a.play-pause i {
    font-size: 12px;
  }
  img.barber-img {
    height: 600px;
  }
  img.gallery-img {
    height: 450px;
  }
  .padding-row {
    width: 80%;
    margin: 0 auto;
  }
  .gallery-box {
    margin: 0 0 20px 0;
  }
  .sec {
    padding: 40px 0;
  }
  .gallery-mid-box img.gallery-img {
    height: 500px;
  }
  .price-card {
    width: 100%;
    padding: 20px 0;
    gap: 4px;
    align-items: start;
  }
  .price-card-price h5 {
    width: max-content;
  }

  .test-box-text {
    padding: 10px;
  }
  .testi-slider-box {
    border: 2px solid #d9842f;
    padding: 10px;
    margin: 10px auto;
    flex-direction: row-reverse;
    width: 100%;
    position: unset;
    gap: 10px;
  }
  .testi-img img {
    height: 160px;
    border-radius: 10px;
  }
  .testi-slider .slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 1;
    margin: 0;
  }
  .test-box-extra {
    display: none;
  }
  .testi-slider .slick-slide > .row {
    display: block;
    width: 100%;
    margin: 0;
  }
  .scissor-design {
    width: 14%;
  }
  img.banner-logo {
    width: 26%;
  }
  .pg-ft-links-main {
    margin-left: 0;
  }
  .quicklinks-ft {
    margin-left: 0;
  }
  .heading-footer .f22 {
    margin: 30px 0 10px 0;
    width: fit-content;
  }

  .footer_col p {
    margin: 0 0 10px 0;
  }

  .heading-footer .f22:before {
    bottom: 0px;
    width: 100%;
  }

  .quicklinks-ft ul li {
    margin-bottom: 2px;
  }
  .freeshiping-text {
    margin-top: 0;
  }
  .footer_form form input {
    width: 72%;
    padding: 10px;
  }
  .hour-right-box h6 {
    text-align: center;
  }

  .hour-right-box h2 {
    text-align: center;
  }
  .testi-img {
    width: 130px;
  }

  section.banner_sec.inner-banner {
    height: 350px;
}
.inner-services-img img {
  height: 300px;
}

.inner-services-left-side h2 {
  font-size: 30px;
}

.inner-services-left-side h3 {
  font-size: 30px;
  letter-spacing: 0;
  font-weight: 100;
}

.inner-services-box-img img {
  height: 300px;
}

.col-lg-6.col-md-6.col-12.padding-left {
  padding-left: 15px;
}

.inner-services-left-side ul {
}

.inner-services-left-side ul li a {
  display: block;
  width: 100%;
  margin: 0 0 0;
}

.inner-services-left-side {
  margin: 0 0 30px 0;
}

.service-category-box {
  display: none;
}
.contact-info {
  padding: 20px 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.contact-side-bar {
  margin: 0 0 20px 0;
}
.contact-pag-form .form-control {
  font-size: 13px !important;
  margin:10px 0;
}
.contact-main-sec h4 {
  margin: 30px 0 0 0;
}
.login-txt {
  padding: 20px 10px;
  margin: 20px 0;
}

.login-txt ul {
  flex-wrap: wrap;
  gap: 10px;
}

}
@media only screen and (min-width: 300px) and (max-width: 519px) {
  h1 {
    font-size: 41px;
  }
  h2 {
    font-size: 39px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 25px;
  }
  h6 {
    font-size: 17px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
  section.header .nav.stroke {
    display: none;
  }
  .hdr_logo a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hdr_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0;
  }
  header.sticky {
    position: unset;
  }
  .hamburger-menu {
    width: auto;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 9999999999;
  }
  header .nav.stroke {
    display: none;
  }
  .hdr_logo a {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .hamburger-navigation .nav-menu {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  header {
    position: unset;
    background-color: #03080c;
  }
  section.banner_sec {
    height: 500px;
  }
  .banner_text {
    gap: 10px;
    text-align: center;
  }
  .theme-btn {
    padding: 12px 40px;
  }
  a.login-icon {
    width: 50px;
    height: 49px;
  }
  .categ-card {
    padding: 40px 10px;
    margin: 10px 0;
  }
  .about-image {
    position: relative;
    z-index: 999;
    transform: unset;
    width: 100%;
    flex-direction: column;
    top: 0;
    height: auto;
    gap: 20px;
  }
  .about-image-inner {
    width: 100%;
  }
  .about_text {
    padding: 30px 0;
  }
  .hour-card-text {
    position: unset;
    transform: unset;
  }
  .hour-card-text h3 {
    color: #000;
    margin: 20px 0;
  }

  .hour-card {
    height: auto;
  }

  .hour-right-box {
    padding: 20px 10px;
  }
  section.hour-sec {
    background: #fff;
  }
  video.hour-video {
    height: 250px;
  }
  a.play-pause {
    width: 50px;
    height: 50px;
  }
  a.play-pause i {
    font-size: 12px;
  }
  img.barber-img {
    height: 400px;
  }
  img.gallery-img {
    height: 400px;
  }

  .gallery-box {
    margin: 0 0 20px 0;
  }
  .sec {
    padding: 40px 0;
  }
  .gallery-mid-box img.gallery-img {
    height: 400px;
  }
  .price-card {
    width: 100%;
    padding: 20px 0;
    gap: 4px;
    align-items: start;
  }
  .price-card-price h5 {
    width: max-content;
  }

  .test-box-text {
    padding: 20px;
  }
  .testi-slider-box {
    border: 2px solid #d9842f;
    padding: 10px 0 0 0;
    margin: 10px auto;
    flex-direction: column-reverse;
    width: 97%;
    position: unset;
  }
  .testi-img img {
    height: 100px;
    border-radius: 10px;
  }
  .testi-slider .slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 1;
    margin: 0;
  }
  .test-box-extra {
    display: none;
  }
  .testi-slider .slick-slide > .row {
    display: block;
    width: 100%;
    margin: 0;
  }
  .scissor-design {
    width: 14%;
  }
  img.banner-logo {
    width: 26%;
  }
  .pg-ft-links-main {
    margin-left: 0;
  }
  .quicklinks-ft {
    margin-left: 0;
  }
  .heading-footer .f22 {
    margin: 30px 0 10px 0;
    width: fit-content;
  }

  .footer_col p {
    margin: 0 0 10px 0;
  }

  .heading-footer .f22:before {
    bottom: 0px;
    width: 100%;
  }

  .quicklinks-ft ul li {
    margin-bottom: 2px;
  }
  .freeshiping-text {
    margin-top: 0;
  }
  .footer_form form input {
    width: 72%;
    padding: 10px;
  }
  .hour-right-box h6 {
    text-align: center;
  }

  .hour-right-box h2 {
    text-align: center;
  }
    section.banner_sec.inner-banner {
      height: 300px;
  }

  .inner-services-img img {
    height: 300px;
}

.inner-services-left-side h2 {
    font-size: 30px;
}

.inner-services-left-side h3 {
    font-size: 30px;
    letter-spacing: 0;
    font-weight: 100;
}

.inner-services-box-img img {
    height: 300px;
}

.col-lg-6.col-md-6.col-12.padding-left {
    padding-left: 15px;
}

.inner-services-left-side ul {
    column-count: 1;
}

.inner-services-left-side ul li a {
    display: block;
    width: 100%;
    font-size: 14px;
}

.inner-services-left-side {
    margin: 0 0 30px 0;
}

.service-category-box {
    display: none;
}




.contact-info {
  padding: 20px 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.contact-side-bar {
  margin: 0 0 20px 0;
}
.contact-pag-form .form-control {
  font-size: 13px !important;
  margin:10px 0;
}
.contact-main-sec h4 {
  margin: 30px 0 0 0;
}

.login-txt {
  padding: 20px 10px;
  margin: 20px 0;
}

.login-txt ul {
  flex-wrap: wrap;
  gap: 10px;
}

.login-txt h3 {
  font-size: 28px;
}

.sb-header {
  padding: 20px 0;
  background: linear-gradient(90deg, rgba(20,20,20,0.02), rgba(217,217,217,0));
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}
.sb-steps {
  width: 100%;
}
.sb-body {
  display: flex;
  padding: 0;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: 10px;
}
.sb-left {
  padding: 0;
}
}
@media only screen and (min-width: 0px) and (max-width: 299px) {
}
/*Media Query End*/

html {
  overflow-x: hidden;
}
